.receipt {
    margin-top: 100px;
    margin-bottom: 50px;
    width: 100%;
    min-height: 300px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-family: $fontFamily;


    .receipt_table {
        width: 90%;
        border: 1px solid black;
        margin: 10px;
        padding: 10px;

        h2 {
            text-align: center;
            // color: red;
        }

        .infoUser_give {
            margin: 10px 0px;
            margin-bottom: 20px;
            position: relative;

            .infoUser-name,
            .infoUser-phone,
            .infoUser-address {
                margin: 5px 0px;
            }

            .infoUser-name_span {
                display: inline-block;
                min-width: 180px;
                font-weight: 600;

            }
        }








        .receipt_detail {
            width: 100%;
            margin: 0px auto;
            // border: 1px solid rgb(110, 110, 110);

            table,
            tr {
                border-top: 1px solid gray;
                border-bottom: 1px solid gray;

                border-collapse: collapse;
                text-align: left;
            }

            table {
                width: 100%;
            }

            th {
                padding: 10px 10px;
            }

            td {
                padding: 10px 10px;

            }


        }
    }

    .bill {
        margin-left: 70%;
        margin-top: 20px;
        margin-right: 100px;
        margin-bottom: 20px;

        .bill-span {
            display: inline-block;
            min-width: 160px;
            font-weight: 600;
        }

        .bill_money,
        .bill_ship,
        .bill_sale,
        .bill_totlal {
            margin: 5px 0px;
        }
    }
}

* {
    // border: 1px solid red;
}