*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.homePages{
    width: 100%;
    min-height: 100vh;
    .homeBody{
        width: 100%;
        min-height: calc(100vh - (500px));

    }
}