.HeaderAdmin {
    height: 56px;
    max-width: $maxWidth;
    background-color: $colorHeaderAdmin;
    color: $colorTextHeaderAdmin;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: $fontFamily;
    font-size: 20px;

    .HeaderAdmin_left {
        margin-left: 50px;

        ul {
            #logoAdmin {
                border-left: none;
            }

            li {
                display: inline-block;
                border-left: 2px solid rgb(172, 172, 172);
                padding: 16px 25px;


                .iconAdmin {
                    margin: 0px 10px;
                }
            }

            li:hover {
                cursor: pointer;
            }
        }

    }

    .HeaderAdmin_right {
        margin-right: 60px;
    }
}

* {
    // border: 1px solid red;
}