.adminPage {
    width: 100%;

    .bodyAdmin {
        display: flex;
        justify-content: center;
        width: 100%;

        .slider {
            width: 264px;
        }

        .content {
            width: 1100px;

            h3 {
                width: 100%;
                border-bottom: 2px solid rgb(172, 172, 172);
                padding: 10px 10px;
                color: rgb(104, 104, 240);
                font-family: $fontFamily;

                .icon-homeAdmin {
                    margin-right: 10px;
                }
            }
        }
    }
}

* {
    // border: 1px solid red;
}